[submodule "darkspore_server/libs/glm"]
	path = darkspore_server/libs/glm
	url = https://github.com/g-truc/glm.git
[submodule "darkspore_server/libs/lodepng"]
	path = darkspore_server/libs/lodepng
	url = https://github.com/lvandeve/lodepng.git
[submodule "darkspore_server/libs/cpp-base64"]
	path = darkspore_server/libs/cpp-base64
	url = https://github.com/ReneNyffenegger/cpp-base64.git
[submodule "darkspore_server/libs/LuaJIT"]
	path = darkspore_server/libs/LuaJIT
	url = https://github.com/LuaJIT/LuaJIT.git
