
body {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /* background-color: black; */
    background-color: transparent;
    overflow: hidden;
}

.title {
    color: #b4b7b9;
	font-size: 20px;
	text-align: center;
}
